# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.tar.gz
*.zip

.eve
env/
venv/
.env
.venv
env/
ENV/
env.bak/
venv.bak/
google-cloud-sdk/
__pycache__/
# CursoDeECMAScriptHistoriaYVersionesDeJavaScript/js/