# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.tar.gz
*.zip

/1-getting-started/
/2-advanced-examples/
.eve
env/
venv/
.env
.venv
env/
ENV/
env.bak/
venv.bak/
google-cloud-sdk/
__pycache__/
node_modules/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# CursoDeECMAScriptHistoriaYVersionesDeJavaScript/js/