<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car list</title>
</head>
<body>
    <h1>Lista de carros</h1>
    <ul>
    
    <table>
        <tr>
            <th>TITLE</th>
            <th>MODEL</th>
            <th>YEAR</th>
            <th>COLOR</th>
        </tr>
        {% for car in car_list%}
        <tr>
            <td>{{car.title}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.color}}</td>
        </tr>
        {% endfor %}
</ul>
</body>
</html>