anyio             3.6.2
asgiref           3.6.0
asttokens         2.1.0
backcall          0.2.0
bcrypt            4.0.1
blinker           1.6.2
bokeh             3.0.3
camelcase         0.2
certifi           2022.12.7
cffi              1.15.1
click             8.1.3
colorama          0.4.6
configparser      5.3.0
contourpy         1.0.6
cryptography      39.0.0
cycler            0.11.0
debugpy           1.6.3
decorator         5.1.1
distlib           0.3.6
Django            4.2
dnspython         2.2.1
ecdsa             0.18.0
email-validator   1.3.0
empiricaldist     0.6.8
entrypoints       0.4
executing         1.2.0
fastapi           0.89.1
filelock          3.12.0
Flask             2.3.2
fonttools         4.38.0
gevent            22.10.2
greenlet          2.0.2
h11               0.14.0
httpcore          0.16.3
httptools         0.5.0
httpx             0.23.3
idna              3.4
install           1.3.5
ipykernel         6.17.1
ipython           8.6.0
itsdangerous      2.1.2
Janitor           0.1.1
jedi              0.18.1
Jinja2            3.1.2
joblib            1.2.0
jupyter_client    7.4.7
jupyter_core      5.0.0
kiwisolver        1.4.4
lazy_loader       0.2
MarkupSafe        2.1.1
matplotlib        3.6.3
matplotlib-inline 0.1.6
multipledispatch  0.6.0
natsort           8.3.1
nest-asyncio      1.5.6
numpy             1.24.3
orjson            3.8.5
packaging         23.0
palmerpenguins    0.1.4
pandas            2.0.1
pandas-flavor     0.5.0
parso             0.8.3
passlib           1.7.4
patsy             0.5.3
pickleshare       0.7.5
Pillow            9.4.0
pip               23.2.1
platformdirs      3.5.0
prompt-toolkit    3.0.32
psutil            5.9.4
pure-eval         0.2.2
pv                0.1       
pyasn1            0.4.8
pycparser         2.21
pydantic          1.10.4
Pygments          2.13.0
pyjanitor         0.24.0
pymongo           4.3.3
pyparsing         3.0.9
python-dateutil   2.8.2
python-dotenv     0.21.0
python-jose       3.3.0
python-multipart  0.0.5
pytz              2022.7
pywin32           305
PyYAML            6.0
pyzmq             24.0.1
rfc3986           1.5.0
rsa               4.9
scikit-learn      1.2.2
scipy             1.10.1
seaborn           0.12.2
session-info      1.0.0
setuptools        65.5.0
six               1.16.0
sklearn           0.0.post5
sniffio           1.3.0
sqlparse          0.4.4
stack-data        0.6.1
starlette         0.22.0
statsmodels       0.14.0
stdlib-list       0.8.0
svgwrite          1.4.3
threadpoolctl     3.1.0
tornado           6.2
traitlets         5.5.0
Tree              0.2.4
typing_extensions 4.4.0
tzdata            2023.3
ujson             5.7.0
uvicorn           0.20.0
virtualenv        20.23.0
watchfiles        0.18.1
wcwidth           0.2.5
websockets        10.4
Werkzeug          2.3.4
wsgi-oauth2       0.2.2
xarray            2023.5.0
xyzservices       2022.9.0
zope.event        4.6
zope.interface    6.0